[user]
	email = gfernandez@rednovalabs.com
	name = Gavri Fernandez
[alias]
    co = checkout
    st = status
    cm = commit
    a = add
    pr = pull --rebase
    l = log --graph --format=format:'%C(blue)%h%C(reset) %C(white)%s%C(reset) %C(yellow)%d%C(reset) %C(red)- %an%C(reset) %C(green)(%ar)%C(reset)'
[color]
        ui = true
[push]
	default = current
[core]
	excludesfile = /home/gavri/.gitignore
	editor = vim
[log]
  date = relative
